## Домашнее задание

### Задание 1
Скачайте с сайта [https://grouplens.org/datasets/movielens/](https://grouplens.org/datasets/movielens/) датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

In [65]:
# загружаем датасет
rating = pd.read_csv('u.data', sep='\t', header=None)
# задаем название столбцов
rating.columns = ['user_id', 'movie_id','rating','timestamp']
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   movie_id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [49]:
df_movie = pd.read_csv('u.item', sep='|', encoding='koi8_r', header=None)
# задаем название столбцов
df_movie.columns =['movie_id' , 'movie_title' , 'release date' , 'video release date' ,
                 'IMDb URL' , 'unknown' , 'Action' , 'Adventure' , 'Animation' ,
                 "Children's" , 'Comedy' , 'Crime' , 'Documentary' , 'Drama' , 'Fantasy' ,
                 'Film-Noir' , 'Horror' , 'Musical' , 'Mystery' , 'Romance' , 'Sci-Fi' ,
                 'Thriller' , 'War' , 'Western']
movie = df_movie[['movie_id','movie_title']]

In [50]:
rating_name = rating.merge(movie, on='movie_id', how='left')

In [61]:
film_name=rating_name['movie_title'].value_counts().index.values[0]

In [64]:
max_count=rating_name['movie_title'].value_counts().values[0]

In [63]:
print(f'Фильму {film_name} поставили наибольшее количество оценок {max_count}')

Фильму Star Wars (1977) поставили наибольшее количество оценок 583

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [30]:
data = pd.read_csv('power.csv')

In [29]:
data.quantity[((data.country =='Lithuania')| (data.country =='Latvia')| (data.country =='Estonia')) & \
    ((data.category == 4)| (data.category == 12)| (data.category == 21)) & \
     ((data.year >= 2005) & (data.year <= 2010)) & (data.quantity > 0) ].sum()

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

[https://fortrader.org/quotes](https://fortrader.org/quotes)

[https://www.finanz.ru/valyuty/v-realnom-vremenia](https://www.finanz.ru/valyuty/v-realnom-vremenia)

In [4]:
tables = pd.read_html('https://www.finam.ru/quotes/stocks/russia/')

In [66]:
# Изучаем содержимое объекта tables
df = tables[0]
df.head()

,Unnamed: 0,Инструмент,"Посл. сделка, ₽",% Изм. цены,Открытие,Макс.,Мин.,Закрытие,"Объем, шт.",Время обн.
0,NaN,+МосЭнергоПотенциал:+6%,2.0595 ₽,0.61%,2.0485,2.0725,2.031,2.047,11 416 000,17.09 18:45
1,NaN,Activision,5935,-1.51%,6000.0000,6000.0000,5865.000,6026.000,616,17.09 18:38
2,NaN,AGRO-гдрПотенциал:+23%,747.8 ₽,1.25%,723.0000,750.0000,720.000,738.600,111 903,17.09 18:49
3,NaN,Amazon,225822,-3.91%,228889.0000,235000.0000,225000.000,235000.000,182,17.09 18:56
4,NaN,AMD Inc.,5668,-2.02%,5838.0000,5838.0000,5565.000,5785.000,4 055,17.09 19:03